.form-container
  %h2= t('.header')
  = form_for(@cook, url: { controller: 'cooks', action: 'update'}, html: { method: 'patch' } ) do |f|
    = render 'shared/error_messages', object: f.object
    .field.form-group
      = f.label :speciality, t('speciality')
      = f.text_field :speciality, class: 'form-control'
    .field.form-group
      = f.label :work_city, t('work_city')
      = f.text_field :work_city, class: 'form-control'
    .field.form-group
      = f.submit t('.save_changes'), class: "btn btn-dark"

  = form_for(@cook, url: { controller: 'cooks', action: 'destroy'}, html: { method: 'delete' } ) do |f|
    .field.form-group
      = f.submit t('.delete_cook_profile'), class: "btn btn-danger", data: { confirm: t('.sure')}
