.form-container
  %h2 Zostań kucharzem
  = form_for(@cook, url: { controller: 'cooks', action: 'create'}, html: { method: 'post' } ) do |f|
    = render 'shared/error_messages', object: f.object
    .field.form-group
      = f.label :speciality, "Specjalność"
      = f.text_field :speciality, class: 'form-control'
    .field.form-group
      = f.label :work_city, "Miasto pracy"
      = f.text_field :work_city, class: 'form-control'
    .field.form-group
      = f.submit "Chcę zostać Masterchefem", class: "btn btn-dark"
