.container-fluid.p-4
  .row
    .col-md-4
      %h1= t('.header')
      %br
      %ul.list-group
        %li.list-group-item
          = @cook.user.name
          = @cook.user.last_name
        %li.list-group-item
          %span.font-weight-bold Email:
          = @cook.user.email
        %li.list-group-item
          %span.font-weight-bold= t('speciality')
          = @cook.speciality
        %li.list-group-item
          %span.font-weight-bold= t('.work_in')
          = @cook.work_city
          %span.font-weight-bold= t('.for')
          %ul.list-group.list-group-flush
            - @cook.organizations.each do |organization|
              =link_to organization_path(organization.id) do
                %li.list-group-item.list-group-item-action.text-center= organization.name
        %li.list-group-item
          %span.font-weight-bold= t('.grade')
          = @cook.stars

      = link_to t('.edit_cook_profile'), edit_user_cook_path(@cook.user, @cook),class: "btn btn-info ml-0"
