.form-container
  %h2 Zaktualizuj swój profil
  = form_for(@user) do |f|
    = render 'shared/error_messages', object: f.object
    .field.form-group
      = f.label :name, "Imię"
      = f.text_field :name, class: 'form-control'
    .field.form-group
      = f.label :last_name, "Nazwisko"
      = f.text_field :last_name, class: 'form-control'
    .field.form-group
      = f.label :live_city, "Miasto zamieszkania"
      = f.text_field :live_city, class: 'form-control'
    .field.form-group
      = f.label :interesting_city, "Miasto zainteresowania"
      = f.text_field :interesting_city, class: 'form-control'
    .field.form-group
      = f.submit "Zapisz!", class: "btn btn-dark"
  
  = link_to "Usuń profil", @user, method: :delete, 
  data: { confirm: "Na pewno chcesz to zrobić?"}, class: "btn btn-danger"