.form-container
  %h2= t('.header')
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field.form-group
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
    .field.form-group
      = f.label :password, t('.password')
      %br/
      = f.password_field :password, autocomplete: "off", class: "form-control"
    - if devise_mapping.rememberable?
      .field.form-group
        = f.check_box :remember_me
        = f.label :remember_me, t('.remember_me')
    .actions.form-group
      = f.submit t('.submit'), class: "btn btn-dark"
  = render "devise/shared/links"
