= form_for ([@cook, @dish]), html: {class: ''} do |f|
  .form-group
    = f.label(:name, "Nazwa: ", class: 'col-form-label')
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label(:name, "Opis: ", class: 'col-form-label')
    = f.text_field :description, class: 'form-control'
  .form-group
    = f.label(:name, "Typ kuchni: ", class: 'col-form-label')
    = f.text_field :type_of_kitchen, class: 'form-control'
  .form-group
    = f.label(:name, "Ostrość: ", class: 'col-form-label')
    = f.text_field :spicyness, class: 'form-control'

    = f.submit "Stwórz danie", class: 'btn btn-success'

=link_to "Usuń", cook_dish_path(@cook, @dish), method: :delete, data: { confirm: "You sure?" }
