.form-container
  %h2 Stwórz nową organizację:
  = form_for(@organization) do |f|
    = render 'shared/error_messages', object: f.object
    .field.form-group
      = f.label :name, "Nazwa: "
      = f.text_field :name, class: 'form-control'
    .field.form-group
      = f.label :city, "Miasto: "
      = f.text_field :city, class: 'form-control'
    .field.form-group
      = f.label :description, "Opis: "
      = f.text_field :description, class: 'form-control'
    .field.form-group
      = f.submit "Utwórz", class: "btn btn-success"
//  = link_to "Delete organization", @organization, method: :delete,
//  data: { confirm: "Are you sure?"}, class: "btn btn-danger"
