.container-fluid.p-4
  .row
    .col-md-4
      %h1= t('.header')
      %ul.list-group
        %li.list-group-item
          = t('.name')
          = @organization.name
        %li.list-group-item
          = t('.city')
          = @organization.city
        %li.list-group-item
          = t('.description')
          = @organization.description
    .col-md-8
      = render 'organizations/follow_form', object: @organization if current_user
      - if current_user.cook
        = render 'organizations/join_form', object: @organization
        #new-proposal-button
          - if current_user.cook.member?(@organization)
            = render 'proposals/new_proposal_button'
