.container-fluid.p-4
  .row
    .col-md-4
      %span Profil organizacji:
      %ul.list-group
        %li.list-group-item
          Nazwa organizacji:
          = @organization.name
        %li.list-group-item
          Miasto:
          = @organization.city
        %li.list-group-item
          Opis:
          = @organization.description
    .col-md-8
      = render 'organizations/follow_form', object: @organization if current_user
      - if current_user.cook
        = render 'organizations/join_form', object: @organization
        #new-proposal-button
          - if current_user.cook.member?(@organization)
            = link_to "Stwórz ofertę", new_organization_proposal_path(@organization),
                                       class: 'btn btn-info', id: 'create-proposal'
