= form_for(@custom_order, url: custom_orders_path(@proposal)) do |f|
  .form-group
    = f.label(:receive_date, t('receive_date'), class: 'col-form-label')
    = f.text_field :receive_date, class: 'form-control', type: 'datetime-local'
  .form-group
    = f.label(:quantity, t('quantity'), class: 'col-form-label')
    = f.select(:quantity, @quantity, {}, { class: 'form-control' })
  = f.submit t('make_order'), class: "btn btn-dark"
