%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  = link_to "ZurNow", "/", class: "navbar-brand"
  %ul.navbar-nav.mr-auto
    - if user_signed_in?
      = link_to t('list_of_organizations'), organizations_path, class: "nav-link"
  %ul.navbar-nav.ml-auto
    - if user_signed_in?
      %li.nav-item
        = link_to edit_user_path(current_user), class: "nav-link" do
          = current_user.email
      %li.nav-item
        = link_to t('log_out'), destroy_user_session_path, class: "nav-link", method: :delete
    - else
      %li.nav-item= link_to t('sign_up'), new_user_registration_path, class: "nav-link"
      %li.nav-item= link_to t('log_in'), user_session_path, class: "nav-link"
    %li.nav-item.active
      - if I18n.locale == I18n.default_locale
        = link_to "PL", { :locale=>'pl' }, class: 'nav-link'
      - else
        = link_to "EN", { :locale=>'en' }, class: 'nav-link'